<footer class="py-10 bg-primary">
    <my-container>
        <div class="flex flex-col gap-5 text-white">
            <div class="flex flex-col gap-5 lg:flex-row justify-between">
                <div class="flex flex-col gap-2 lg:gap-2 lg:max-w-[25%]">
                    <img [src]="company().logo.light" class="w-20 p-1 bg-white rounded-2xl" [alt]="company().name">
                    <p class="text-white">
                        Nous créons des sites web ​modernes qui attirent plus de clients.
                    </p>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Liens Rapides</h4>
                    <div class="flex flex-col gap-2">
                        <a href="#">A propos</a>
                        <a href="#">Comment Ca Marche ?</a>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Raiki Services</h4>
                    <div class="flex flex-col gap-2">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms Of Service</a>
                        <a href="#">Cookie Policy</a>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Contactez-nous</h4>
                    <div class="flex flex-col gap-2">
                        <a href="tel:50934977530">(509) 34 97 7530</a>
                        <a href="#" class="flex items-center gap-1">
                             <i class="pi pi-whatsapp text-2xl"></i>
                             Envoyez-nous un message</a>
                        <!-- <a href="#">Cookie Policy</a> -->
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <h4 class="font-bold">Suivez-nous</h4>
                    <div class="flex gap-2 ">
                        <a href="#">
                            <i class="pi pi-facebook text-4xl"></i>
                        </a>
                        
                        <a href="#">
                            <i class="pi pi-instagram text-4xl"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="text-center border-t pt-5 border-white">
               © 2026 {{company().legalName}}. All rights reserved. 
            </p>
        </div>
    </my-container>
</footer>