<div class="flex items-center w-full gap-2">
    <div class="bg-linear-to-l from-primary via-primary/80 to-transparent h-px translate-y-0.5 w-full"></div>
    <div class="w-1.5 h-1.5 translate-y-0.5 shrink-0 rounded-full bg-primary"></div>
    <img src="/img/separator-design.svg" class="w-100 rotate-180" alt="">
    <div class="w-1.5 h-1.5 translate-y-0.5 shrink-0 rounded-full bg-primary"></div>
    <div class="bg-linear-to-r from-primary via-primary/80 to-transparent h-px translate-y-0.5 w-full"></div>
</div>
